<a
    role="button"
    class="list-group-item clearfix d-flex border align-items-center p-1 mb-1"
    id="list-item-hover"
    [routerLink]="[recipe.id]"
    routerLinkActive="recipe-item-active"
>
    <div class="list-group">
        <h3 class="list-group-item-heading">
            {{ recipe.name }}
        </h3>
        <p class="list-group-item-text">
            {{ recipe.description }}
        </p>
    </div>
    <span class="ms-auto">
        <img
            src="{{ recipe.imagePath }}"
            alt=""
            class="image-responsive"
            style="max-height: 50px"
        />
    </span>
</a>
